.auth-container {
  max-width: 20rem;
  margin: 5rem auto 5rem auto;
}

.auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-content {
  display: flex;
  flex-direction: column;
  background-color: var(--offline-gray);
  padding: 1.5rem;
  border-radius: 10px;
  gap: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.auth-container .auth-content a .btn,
.auth-container .auth-content form .btn,
form .input-box {
  width: 100%;
}

.input-box {
  position: relative;
}

.input-box i {
  position: absolute;
  right: 1rem;
  bottom: 0.9rem;
}

.input-label {
  text-align: left;
}

.auth-header i {
  cursor: pointer;
  color: var(--secondary-dark-blue-hover);
}

i:hover {
  color: var(--primary-blue);
}

.login-hint {
  color: var(--secondary-color-hover);
}