.prod-filters {
  min-width: 250px;
  height: (100vh - 2rem);
  margin: 0 0.2rem;
  max-width: 100vw;
  max-height: 100vh;
  border-right: 1px solid var(--offline-gray);
  padding: 1rem;
  overflow-y: scroll;
  scroll-behavior: auto;
  background-color: white;
  position: sticky;
  left: 0;
  top: 112px;
}

.prod-filters ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.filter-header {
  display: flex;
  justify-content: center;
  gap: var(--pd-s);
}

.separator {
  height: 1px;
  width: 100%;
  background-color: var(--offline-gray);
}

.clear-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--error-red);
  cursor: pointer;
}

.section-heading {
  margin-top: 0.8rem;
}

.slider-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.slider {
  width: 100%;
  outline: none;
  opacity: 0.7;
  color: var(--primary-blue);
}

.slider-range-value {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color-hover);
}

.add-filter-btn {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  width: 100%;
  padding: 0.8rem;
  display: none;
}

@media(max-width: 800px) {
  .prod-filters {
    width: 100%;
    max-width: 100%;
    max-height: calc(100vh - 1.5rem);
    z-index: 20;
    transform: translateY(100%);
    transition: 0.8s ease-in-out;
    display: none;
  }
  .add-filter-btn {
    display: block;
  }
  .prod-mobile-show-filters {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 49;
    transform: translateY(0%);
  }
}

