.nav {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-s);
  position: relative;
}

.search-box input {
  flex-grow: 1;
  border-radius: var(--br-rad-s);
  padding: 0.4rem 0.4rem 0.4rem 1.5rem;
  border-color: var(--secondary-dark-blue-hover);
}

.search-box i {
  color: var(--secondary-dark-blue-hover);
  position: absolute;
  left: 0.2rem;
  bottom: 0.4rem;
}

.main-menu {
  display: flex;
  align-items: center;
}

.nav .open-menu {
  display: none;
  list-style: none;
}

.nav li a {
  text-decoration: none;
  color: var(--secondary-dark-blue-hover);
}

.nav li a:hover {
  color: var(--primary-blue);
}

.nav .close-menu {
  display: none;
}

.nav .main-menu .close-menu,
.socials i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .search-box {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .nav .main-menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--white-color);
    transition: top 0.8s ease;
    display: none;
    padding: 3rem;
    gap: 2rem;
    font-size: 1.6rem;
  }
  .nav .main-menu .close-menu {
    display: block;
    position: absolute;
    top: var(--pd-s);
    right: var(--pd-s);
    color: var(--secondary-dark-blue-hover);
  }
  .nav .open-menu {
    display: block;
    cursor: pointer;
    color: var(--secondary-dark-blue-hover);
  }
  .nav .open-menu:hover {
    color: var(--primary-blue);
  }
  .nav .main-menu li a:hover {
    background: none;
    color: var(--primary-blue);
  }
  .socials i {
    display: inline-block;
    padding: 0.5rem;
    color: var(--secondary-dark-blue-hover);
  }
  .socials i:hover,
  .nav .main-menu .close-menu:hover {
    color: var(--primary-blue);
  }
}
