:root {
  --br-rad-s: 5px;
}

.nav {
  width: 100%;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-s);
  position: relative;
}

.search-box input {
  flex-grow: 1;
  border-radius: var(--br-rad-s);
  padding: 0.4rem 0.4rem 0.4rem 1.5rem;
  border-color: var(--secondary-dark-blue-hover);
}

.search-box i {
  color: var(--secondary-dark-blue-hover);
  position: absolute;
  left: 0.4rem;
  bottom: 0.4rem;
  top: 0.4rem;
}

.main-menu {
  display: flex;
  align-items: center;
}

.nav li a {
  text-decoration: none;
  color: var(--secondary-dark-blue-hover);
  margin: 0.2rem;
}

.nav li a:hover {
  color: var(--primary-blue);
}

.nav .main-menu .close-menu,
.socials i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.login-btn {
  height: 2rem;
}

@media only screen and (max-width: 500px) {
  .search-box {
    display: none;
  }
}

